model/MiniCPM-o-2_6-GGUF/MiniCPM-o-2_6-Q3_K_L.gguf
model/MiniCPM-o-2_6-GGUF/mmproj-model-f16.gguf
model/MiniCPM-V-2_6-GGUF/MiniCPM-V-2_6-Q4_K_M.gguf
model/MiniCPM-V-2_6-GGUF/mmproj-model-f16.gguf
model/Qwen2-VL-7B-Instruct-GGUF/mmproj-model-f32.gguf
model/Qwen2-VL-7B-Instruct-GGUF/Qwen2-VL-7B-Instruct-Q4_K_M.gguf
